.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px auto;
}

.header__logo {
  max-width: 236px;
}

.header__menu-button {
  @include description ($size: 20px, $height: 23px,);
  display: none;
  color: rgba(51, 61, 75, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header__menu-button {
    z-index: 100;
    display: block;
  }
  
  .header__menu-button .back-button {
    display: none;
  }

  .header--active .hamburger {
    display: none;
  }

  .header--active .back-button {
    display: block;
    color: wheat;
  }
}

@media only screen and (max-width: 425px) {
  .header .container {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .header__logo {
    width: 163px;
    height: 18px;
  }

  .header__menu-button {
    font-size: 18px;
  }
}